@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sekuya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: #F5F7F8;
}



#container{
    max-width: 1920px;
    margin: 0 auto;
    border: 1px solid #ddd;
}

h1,h2,h3,h4,p,small{
    font-family: "Roboto", system-ui;
}

h4{
  color:#e940a9;
}

header{
   
    width: 100%;
    height: 600px;
    background-image: url(img/img10.jpg);
    background-position: bottom;
    background-size: cover;
   
}

#topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

#logo{
  width:100px;
}

#copo{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#copoTopo {
    animation: flutuar 3s ease-in-out infinite alternate;
}

@keyframes flutuar {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-50px); /* Sobe 10px */
    }
}

@keyframes entradaEsquerda {
    from {
        opacity: 0;
        transform: translateX(-50px) scale(0.8); /* Começa menor */
    }
    to {
        opacity: 1;
        transform: translateX(0) scale(1);       /* Termina no tamanho real */
    }
}



#nome1,#nome2{
  display: none;
  
}

#nome1{
    color: #e940a9;
}


/* Animação para o nome da esquerda (Gago's) */
@keyframes entradaEsquerda {
    from {
        opacity: 0;
        transform: translateX(-50px); /* Começa 50px para a esquerda */
    }
    to {
        opacity: 1;
        transform: translateX(0);    /* Termina na posição original */
    }
}

/* Animação para o nome da direita (Shake) */
@keyframes entradaDireita {
    from {
        opacity: 0;
        transform: translateX(50px);  /* Começa 50px para a direita */
    }
    to {
        opacity: 1;
        transform: translateX(0);     /* Termina na posição original */
    }
}


#name1 {
    animation: entradaEsquerda 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

#name2 {
    animation: entradaDireita 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s forwards;
    opacity: 0;
}


#menu{
    font-family: "Sekuya", system-ui;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    margin-top: 50px;
    font-size: 2.5rem;
    color: #e940a9;
  }

  #menuDrinks{
    text-align: center;
  }



.carousel {
  display: flex;
  align-items: center;
  max-width: 700px;
  position: relative;
  margin:50px auto;
  padding: 20px 0px;
}

.cardapio {
  display: flex;
  overflow-x: auto;       /* mantém rolagem */
  scroll-behavior: smooth;
}

.cardapio::-webkit-scrollbar {
  display: none;          /* esconde barra no Chrome/Safari */
}
.cardapio {
  -ms-overflow-style: none;  /* IE/Edge antigo */
  scrollbar-width: none;     /* Firefox */
}

.item {
  flex: 0 0 auto;          /* impede que os itens encolham */
  width: 200px;  
  height: auto;          /* largura fixa para garantir rolagem */
  margin:  10px;
  text-align: center;
  background-color: #fff;
  box-shadow: 2px 2px 4px #ccc;
  padding: 10px 15px;
  border-radius: 10px;
  overflow: hidden; /* Garante que a imagem não "saia" da div ao crescer */
  transition: transform 0.3s ease; /* Suaviza o zoom da div toda */
  cursor: pointer;
  object-fit: cover;
}



/* Efeito de zoom na div inteira ao passar o mouse */
.item:hover {
    transform: scale(1.05); /* Aumenta a div em 5% */
     transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}


.item img {  
  width: 98%;
  height: 200px;
  padding: 30px;
  border-radius: 5px;
  border-bottom: 1px solid #ccc;
  transition: transform 0.3s ease;
}

.item:hover img {
    transform: scale(1.2); /* Aumenta a imagem em 10% */
    border: none;
   
}



.item h4 {
  margin: 10px 0 5px;
  color: #193c41;
}

.item p{
    color: rgb(4, 51, 83);
    font-size: .9rem;
}

#info {
    padding: 40px 20px;
    background: #fdfbfb;
    display: flex;
    justify-content: center;
}

#conteudoInfo {
    width: 100%; /* Ocupa tudo no celular */
    background: #ffffff;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    text-align: center;
}

#tituloInfo::after {
    content: "O Toque Gourmet que seu Evento Merece!  ";
    font-size: 1.6rem; /* Menor no mobile */
    font-family:  Roboto;
    display: block;
    margin-bottom: 20px;
    color: #333;
}

.textInfo {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 25px;
}

#btnContato {
    width: 100%; /* Botão largo no mobile é mais fácil de clicar */
    padding: 15px;
    background: #e940a9;
    color: #fff;
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}




button.prev, button.next {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  display: none; /* esconde setas por padrão */
}

#newDrink{
  padding: 50px;
  background:linear-gradient(to bottom,#fff349,rgb(252, 252, 189));
  text-align: center;
  border-bottom: 1px solid #faf283;
}

#conteudoNewDrink{
  text-align: left;
}

#boxDrink1{
  margin-bottom: 45px;
}

#boxDrink2 img{
  margin-top: 20px;
  width: 75%;
  display: block;
  margin: auto;
}

#precoNew{
  font-size: 1rem;
  text-align: center;
  display: none;

}


#familia{
  margin:50px auto;
}



.conteudoFamilia{
  padding: 10px ;
}

.conteudoFamilia > p{
  color: #333;
  padding: 10px 15px;
}

.conteudoFamilia img{
  display:block;
  margin:  auto;
  width:100%;
  border-radius: 15px 25px;
}


.palavraMilk{
  font-weight: 900;
  text-transform: uppercase;
}


footer{
  background-color: #22b6f4; /* O azul da sua logo */
    color: #fff;
    padding: 40px 20px;
    text-align: center; 
  
}

.itensFooter{
  padding: 10px 0px;
  color:#fff;
}

#textFooter{
  padding: 5px 0px;
}

.itensFooter a{
  color: #f4f4f4;
}

.itensFooter img{
  width:40px;
  padding: 0px 5px;
}


#logoRodape{
  width:180px;  
}

#logoRodape {
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#logoRodape:hover {
    transform: rotate(15s) scale(1.1); /* Dá uma leve inclinada e cresce */
}


#logoRodape {
    animation: bounceLogo 2s infinite ease-in-out;
}

@keyframes bounceLogo {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px); /* Sobe um pouquinho */
    }
}





#autorais{
  background-color: #f4f4f4;
  text-align: center;
  padding: 10px 0px;
  font-size: .8rem;
  color: #555;
}


@media(min-width:500px){

  #logoRodape{
  width:150px;  
}
}


@media(min-width:600px){
    header{
        background-position: center;
    }
    

    #familia{
      margin: 40px 0px;
      width:100%;
      display:flex;
      justify-content: center;
      align-items: center;
      padding: 10px;

    }


    .conteudoFamilia{
      color: #555;
      letter-spacing: 1px;
    }

   

    .conteudoFamilia img{
      width:250px;
      box-shadow: 2px 3px 5px #555;
     
    }

    
}





@media (min-width: 768px) {

  #copo{
    margin-top: 0;
  }
  
  #nome1,#nome2{
    display: block;
    font-size: 3.5rem;
    font-family: "Sekuya", system-ui;
   font-weight: 900;
   font-style: normal;
   margin-top: 0px;

  }

  .item{
    width: 230px;
    height:auto;
  }

  .item img {
  width:90%;
  }

  .copoShake{
    width:78%;
  }

   #info {
        padding: 80px 40px;
        background:linear-gradient(to top,#fff349,#fffaba);
    }

    #conteudoInfo {
        width:  100%; /* Começa a centralizar e respirar */
        padding: 50px 30px;
        background-color: transparent;
        box-shadow: none;
    }

    #tituloInfo::after {
        font-size: 2rem;
    }

    #btnContato {
        width: auto; /* Botão volta ao tamanho normal */
        padding: 15px 50px;
    }

    #btnContato:hover{
      background-color: #555;

    }

  #conteudoNewDrink{
    width:95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding:  0;
  }
 

  #boxDrink1{
    width:300px;
    
  }

  #boxDrink2{
    display: flex;
    justify-content: center;
    align-items: center;
  }  
 

  #familia{
    width:700px;
    margin: 100px auto;
  }

  
  #containerFooter{
    width:100%;
    margin: auto;
  }

  #logoRodape{
  width:120px;  
}





}  


@media(min-width:1024px){

  #topo{
    padding: 0 20px;
  }
  header{
    height:700px;
  }

  #logo{
    width: 150px;
    
  }

  .carousel {
    max-width: 1000px;
  }

  button.prev, button.next {/* Esconde setas no mobile */
    display: block;
  }

  button.prev:hover, button.next:hover{
    background-color: #f9f9f9;
    border-radius: 10px;
    
  }
  
  .item{
    width:250px;  
    height:300px;
    object-fit: cover;
  }

  #newDrink{
    border: none;
  }

  #conteudoNewDrink{
    width:80%;
    background-color: ;
  }

  #precoNew{
    display: block;
    font-weight: 900;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #444;
    border: 5px solid #e940a9;
    border-radius: 5px 15px;
    padding: 10px;
  } 

  #monteSeu{
    display: none;
  }

  #boxDrink2 img{
  margin-top: 20px;
  width: 45%;
  }

  #conteudoInfo{
    max-width: 1280px;
    margin: auto;
    padding: 50px;
  }

   
 #tituloInfo{
  padding: 0  4%;
   font-size:2rem;
 }

 .textInfo{
  max-width: 1800px;
  padding: 0px 25px;
  line-height: 1.5;
 }

  

  #btnContato {
    /* Cor inicial (use o azul da sua logo para manter a identidade) */
    background-color: #e940a9; 
    color: #fff;
    padding: 15px 40px;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.4s ease; /* Transição mais lenta fica mais suave/premium */
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(117, 211, 245, 0.3);
}

#btnContato:hover {
    background-color: #25D366; /* Verde oficial do WhatsApp */
    transform: translateY(-3px); /* Levanta levemente o botão */
    box-shadow: 0 8px 20px rgba(37, 211, 102, 0.4); /* Sombra verde suave */
}

 #familia{
  width:70%;
  justify-content: center;
 }

 .conteudoFamilia{
  width:100%;  
 }

 .conteudoFamilia img{
  width: 70%;
  border: none;
 }

  
    
  #containerFooter{
    width:100%;
    padding: 50px 0px;
    text-align: ;
  }

  .itensFooter{
    background-color: ;
    
  }

  .itensFooter img{
    width:50px;
  }

  #logoRodape{
    width:180px;
  }

  .textFooter{
    font-size: 1.5rem;
  }


}

